{
	"importOrder": [
		"^@core/(.*)$",
		"^@server/(.*)$",
		"^@ui/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"overrides": [
		{
			"files": "*.sol",
			"options": {
				"printWidth": 80,
				"tabWidth": 4,
				"useTabs": true,
				"singleQuote": false,
				"bracketSpacing": true,
				"explicitTypes": "always"
			}
		}
	]
}